.inspiration {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 27px;
  color: #fff;
  text-align: center;
  opacity: .7;
  font-variant: small-caps;
  letter-spacing: 1.4px;
}