.tab-post-widget {

  $block-name: &; // #{$block-name}__element

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 15px 0;
    border-bottom: 1px solid #dee5e9;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__title,
  &__buttons {
    margin-bottom: 20px;
  }

  &__title {
    max-width: 270px;
  }
}