-
  var gallery = [
  {
    src: '../../components/image-gallery/img/1.jpg',
    alt: 'image 1'
  },
  {
    src: '../../components/image-gallery/img/2.jpg',
    alt: 'image 2'
  },
  {
    src: '../../components/image-gallery/img/3.jpg',
    alt: 'image 3'
  },
  {
    src: '../../components/image-gallery/img/4.jpg',
    alt: 'image 4'
  },
  {
    src: '../../components/image-gallery/img/5.jpg',
    alt: 'image 5'
  },
  {
    src: '../../components/image-gallery/img/6.jpg',
    alt: 'image 6'
  },
  {
    src: '../../components/image-gallery/img/7.jpg',
    alt: 'image 7'
  },
  {
    src: '../../components/image-gallery/img/8.jpg',
    alt: 'image 8'
  }
  ];