mixin image-gallery(mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' image-gallery_' + modsList[i].trim();
      }
    }

  include image-gallery.data.pug

  .image-gallery(class=allMods)&attributes(attributes)
    each image in gallery
      .image-gallery__wrapper
        img.image-gallery__image(src= image.src, alt= image.alt)
    