extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco uikit

block content
  body
    #page
      include ../../blocks/top-line/top-line
      +header('1', 'uikit')
      main.content.uikit

        .uikit__inspiration
          +inspiration('buttons', 'color_dark')
        .uikit__buttons
          +btn('subscribe', 'type_rect, theme_blue')(href='#')
          +btn('read more', 'type_ellipse, theme_blue')(href='#')
          +btn('subscribe', 'type_rect, theme_dark')(href='#')

        .uikit__inspiration
          +inspiration('user', 'color_dark')
        .uikit__user
          +user('../../components/user/img/user1.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark')
          +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark')
          +user('../../components/user/img/user3.png', 'James Leman', 'April 28, 2016', 'color_dark')
          +user('../../components/user/img/user4.png', 'James Leman', 'April 28, 2016', 'color_dark')
          +user('../../components/user/img/user2.png', 'Benjamin Miller', 'April 28, 2016', 'color_dark')

        .uikit__user.uikit__user_float
          +user('../../components/user/img/user1.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
          +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
          +user('../../components/user/img/user3.png', 'James Leman', 'April 28, 2016', 'color_dark, float')
          +user('../../components/user/img/user4.png', 'James Leman', 'April 28, 2016', 'color_dark, float')

        .uikit__inspiration
          +inspiration('widgets', 'color_dark')
        .uikit__widgets
          .uikit__widgets_col1
            +comments('Comments (28)', 'forum')
          .uikit__widgets_col2
            +comments('Likes (07)', 'favorite')
          .uikit__widgets_col3
            +sign-in
          .uikit__widgets_col4
            +choose-language
          .uikit__widgets_col5
            +header-socials
          .uikit__widgets_col6
            +header-search

        .uikit__inspiration
          +inspiration('sort blog', 'color_dark')
        .uikit__sort-blog
          +sort-blog

        .uikit__inspiration
          +inspiration('video', 'color_dark')
        .uikit__video
          +video({
            poster: '../../components/video/img/poster-big.jpg',
            src: '../../components/video/video/nature.mp4',
            type: 'video/mp4',
            caption: 'lifestyle',
            comments: 7,
            likes: 15
          })
          +video({
            poster: '../../components/video/img/woman-hat.jpg',
            src: '../../components/video/video/nature.mp4',
            type: 'video/mp4',
            caption: 'inspiration',
            comments: 7,
            likes: 15
          }, 'size_sm')
          +video({
            poster: '../../components/video/img/grape.jpg',
            src: '../../components/video/video/nature.mp4',
            type: 'video/mp4',
            caption: 'inspiration',
            comments: 7,
            likes: 15
          }, 'size_sm')

        .uikit__inspiration
          +inspiration('image blocks', 'color_dark')
        .uikit__image-blocks
          +image-block({
            src: '../../components/image-block/img/board.jpg',
            caption: 'inspiration',
            comments: 23,
            likes: 10
          })
          +image-block({
            src: '../../components/image-block/img/ocean.jpg',
            caption: 'trip',
            comments: 5,
            likes: 34
          })
          +image-block({
            src: '../../components/image-block/img/woman.jpg',
            caption: 'lifestyle',
            comments: 23,
            likes: 32
          })
          +image-block({
            src: '../../components/image-block/img/black-boy.jpg',
            caption: 'hollywood',
            comments: 7,
            likes: 15
          })
          +image-block({
            src: '../../components/image-block/img/clouds.jpg',
            caption: 'hollywood',
            comments: 7,
            likes: 15
          }, 'size_lg')
          +image-block({
            src: '../../components/image-block/img/office.jpg',
            caption: 'hollywood',
            comments: 7,
            likes: 15
          }, 'size_lg')

        .uikit__inspiration
          +inspiration('post', 'color_dark')
        .uikit__posts
            +post
              +video({
                poster: '../../components/video/img/poster-big.jpg',
                src: '../../components/video/video/nature.mp4',
                type: 'video/mp4',
                caption: 'lifestyle',
                comments: 7,
                likes: 15
              })
              - var title = '10 Things To Do To Change Your Life Forever';
              - var text = 'The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.';
              +post-content(title, text)
              +post-autor
                +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
                +post-button

            +post('size_md')
              +post-left
                +video({
                  poster: '../../components/video/img/woman-hat.jpg',
                  src: '../../components/video/video/nature.mp4',
                  type: 'video/mp4',
                  caption: 'inspiration',
                  comments: 7,
                  likes: 15
                }, 'size_sm')
              - var title = '4 Natural Ways To Have Young Skin';
              - var text = 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.'
              +post-content(title, text)
              +post-autor
                +user('../../components/user/img/user3.png', 'Henry Little', 'April 28, 2016', 'color_dark, float')
                +post-button

            +post('size_md')
              +post-left
                +image-block({
                  src: '../../components/image-block/img/board.jpg',
                  caption: 'inspiration',
                  comments: 7,
                  likes: 15
                })
              - var title = 'Six Hobbies That Can Help You Beat Stress';
              - var text = 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.'
              +post-content(title, text)
              +post-autor
                +user('../../components/user/img/user4.png', 'James Leman', 'April 28, 2016', 'color_dark, float')
                +post-button

            +post('size_md')
              +post-left
                +image-block({
                  src: '../../components/image-block/img/ocean.jpg',
                  caption: 'inspiration',
                  comments: 7,
                  likes: 15
                })
              - var title = '10 Singals From Your Body Telling You Should Sleep More';
              - var text = 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.'
              +post-content(title, text)
              +post-autor
                +user('../../components/user/img/user2.png', 'Benjamin Miller', 'April 28, 2016', 'color_dark, float')
                +post-button