extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco uikit

block content
  body
    #page
      include ../../blocks/top-line/top-line
      +header('1', 'uikit')
      main.content.uikit

        .uikit__inspiration
          +inspiration('buttons', 'color_dark')
        .uikit__buttons
          +btn('subscribe', 'type_rect, theme_blue')(href='#')
          +btn('read more', 'type_ellipse, theme_blue')(href='#')
          +btn('subscribe', 'type_rect, theme_dark')(href='#')

        .uikit__inspiration
          +inspiration('user', 'color_dark')
        .uikit__user
          +user('../../components/user/img/user1.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark')
          +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark')
          +user('../../components/user/img/user3.png', 'James Leman', 'April 28, 2016', 'color_dark')
          +user('../../components/user/img/user4.png', 'James Leman', 'April 28, 2016', 'color_dark')
          +user('../../components/user/img/user2.png', 'Benjamin Miller', 'April 28, 2016', 'color_dark')

        .uikit__user.uikit__user_float
          +user('../../components/user/img/user1.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
          +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
          +user('../../components/user/img/user3.png', 'James Leman', 'April 28, 2016', 'color_dark, float')
          +user('../../components/user/img/user4.png', 'James Leman', 'April 28, 2016', 'color_dark, float')

        .uikit__inspiration
          +inspiration('widgets', 'color_dark')
        .uikit__widgets
          .uikit__widgets_col1
            +comments('Comments (28)', 'forum')
          .uikit__widgets_col2
            +comments('Likes (07)', 'favorite')
          .uikit__widgets_col3
            +sign-in
          .uikit__widgets_col4
            +choose-language
          .uikit__widgets_col5
            +header-socials
          .uikit__widgets_col6
            +header-search

        .uikit__inspiration
          +inspiration('sort blog', 'color_dark')
        .uikit__sort-blog
          +sort-blog

        .uikit__inspiration
          +inspiration('video', 'color_dark')
        .uikit__video
          +video({
            poster: '../../components/video/img/poster-big.jpg',
            src: '../../components/video/video/nature.mp4',
            type: 'video/mp4',
            caption: 'lifestyle',
            comments: 7,
            likes: 15
          })
          +video({
            poster: '../../components/video/img/woman-hat.jpg',
            src: '../../components/video/video/nature.mp4',
            type: 'video/mp4',
            caption: 'inspiration',
            comments: 7,
            likes: 15
          }, 'size_sm')
          +video({
            poster: '../../components/video/img/grape.jpg',
            src: '../../components/video/video/nature.mp4',
            type: 'video/mp4',
            caption: 'inspiration',
            comments: 7,
            likes: 15
          }, 'size_sm')