extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco Home

block content
  body
    #page
      include ../../blocks/top-line/top-line
      +header('1', 'uikit')
      main.content.uikit
        .uikit__inspiration
          +inspiration('buttons', 'color_dark')
        .uikit__buttons
          +btn('subscribe', 'type_rect, theme_blue')(href='#')
          +btn('read more', 'type_ellipse, theme_blue')(href='#')
          +btn('subscribe', 'type_rect, theme_dark')(href='#')