-
  var tags = [
  {
  name: 'Photography',
  href: '#'
  },
  {
  name: 'Webdesign',
  href: '#'
  },
  {
  name: 'Youtube',
  href: '#'
  },
  {
  name: 'Envato',
  href: '#'
  },
  {
  name: 'Art',
  href: '#'
  },
  {
  name: 'Themefotest',
  href: '#'
  },
  {
  name: 'Illustration',
  href: '#'
  }
  ];