@import '~slick-carousel/slick/slick';

@import '~slick-carousel/slick/slick-theme.css';

.slick-carousel {

  $block-name:                &; // #{$block-name}__element

  &_size_sm {
    max-width: 260px;
  }

  &__btn {
    position: absolute;
    top: 35%;
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    font-family: 'Material Icons', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #3f51b5;
    background-color: #fff;
    border: 0;
    cursor: pointer;

    &_size_lg {
      width: auto;
      height: auto;
      background-color: initial;

      span {
        font-size: 42px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 2.1px;
      }
    }
  }

  &__btn_prev {
    left: 10px;
    z-index: 10;
  }

  &__btn_next {
    right: 10px;
  }
}
