@import '~slick-carousel/slick/slick';

@import '~slick-carousel/slick/slick-theme.css';

.slick-carousel {

  $block-name:                &; // #{$block-name}__element

  max-width: 260px;

  &__btn {
    position: absolute;
    top: 35%;
    display: block;
    width: 36px;
    height: 36px;
    font-family: 'Material Icons', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #3f51b5;
    background-color: #fff;
    border: 0;
    cursor: pointer;
  }

  &__btn_prev {
    left: 10px;
    z-index: 10;
  }

  &__btn_next {
    right: 10px;
  }
}
