@import '../../scss/utils';

.sidebar-menu {
  max-width: 270px;

  @include for-phone-only {
    width: 250px;
  }

  @include for-small-phone-only {
    max-width: none;
    width: auto;
  }

  $block-name: &; // #{$block-name}__element

  &__list {

  }

  &__item {
    border-bottom: 1px solid rgba(#372f2b, .1);

    @include for-small-phone-only {
      border-bottom-color: rgba(#fff, .12);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    display: flex;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: #000;
    opacity: .87;
    justify-content: space-between;
    letter-spacing: .56px;
    text-decoration: none;

    @include for-small-phone-only {
      color: rgba(#fff, .7);
    }
  }

  &__count {
    font-weight: bold;
  }
}
