.image-block {

  $block-name: &; // #{$block-name}__element

  position: relative;

  &_size_lg {
    max-width: 400px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__info-panel {
    position: absolute;
    right: 20px;
    bottom: 9px;
    left: 20px;
    display: flex;
  }

  &__comments {
    margin-left: auto;
  }

  &__likes {
    margin-left: 25px;
  }
}
