@import '../../scss/utils';

.subscribe-form {

  $block-name: &;

  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  letter-spacing: .8px;

  @include for-phone-only {
    width: 250px;
  }

  &_type_footer {
    flex-direction: initial;
    align-items: center;
  }

  &__field,
  &__message-field {
    width: 100%;
    box-sizing: border-box;
    padding-left: 17px;
    font: inherit;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgba(#000, .3);
    background-color: #fff;
    border: 1px solid rgba(#000, .12);
    border-radius: 4px;

    &::placeholder {
      color: rgba(#000, .12);
    }
  }

  &__message-field {
    height: 120px;
    resize: none;
    margin-bottom: 0 !important;
  }

  &_theme_dark {

    #{$block-name}__field,
    #{$block-name}__message-field {
      font-size: 14px;
      color: rgba(255, 255, 255, .5);
      background-color: #212121;
      border-color: rgba(#fff, .38);

      &::placeholder {
        color: rgba(255, 255, 255, .5);
      }
    }
  }

  &__email-field {
    width: pxToRem(270);
    padding: 12px 0 12px 20px;
    box-sizing: border-box;
    font-family: OpenSans, Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, .54);
    background-color: rgba(#303030, .38) ;
    border: solid 1px #fff;
    border-radius: 22px;
    opacity: .54;
    margin-right: pxToRem(30);
    //line-height: 2.25;
    letter-spacing: .8px;
  }

  &__label {

  }

  &__field-wrapper {
    margin: 0;
  }

  & :last-child {
    margin-bottom: 10px;
  }

  &_type_footer :last-child {
    margin-bottom: 0;
  }

  $block-name: &; // #{$block-name}__element
}
