@import '../../scss/utils';

.subscribe-form {

  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  letter-spacing: .8px;

  @include for-phone-only {
    width: 250px;
  }

  &__field {
    width: 100%;
    box-sizing: border-box;
    padding-left: 17px;
    font: inherit;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgba(#000, .3);
    background-color: #fff;
    border: 1px solid rgba(#000, .12);
    border-radius: 4px;

    &::placeholder {
      color: rgba(#000, .12);
    }
  }

  &__label {

  }

  &__field-wrapper {
    margin: 0;
  }

  & :last-child {
    margin-bottom: 10px;
  }
}
