.logo {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.61px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.62px;
  text-decoration: none;
}