@import '../../scss/utils';

.logo {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  text-decoration: none;
  transition: background-color .3s;
  cursor: pointer;

  @include for-phone-only {
    margin-left: 20px;
  }

  @include for-small-phone-only {
    margin-left: 0;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .2);
  }
}