@import '../../../scss/utils';

.choose-language {
  padding-left: 23px;
  padding-right: 11px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.21px;
  color: #fff;
  background-color: transparent;
  border: 0;
  opacity: .5;
  font-variant: small-caps;
  letter-spacing: .8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: opacity .3s;

  @include for-phone-only {
    font-size: 16px;
    padding-left: 25px;
  }

  &:hover {
    opacity: initial;
  }

  option {
    color: #767676;
    background-color: #191919;

    &:hover {
      background-color: transparent;
    }
  }
}

.choose-language-wrapper {
  position: relative;
  display: flex;
  font-family: 'Material Icons', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  cursor: pointer;

  @include for-phone-only {
    font-size: 18px;
    line-height: 14px;
  }

  &::before {
    content: '\e894';
    position: absolute;
    top: 2px;
    left: 0;
    opacity: .38;

    @include for-phone-only {
      top: 4px;
    }
  }

  &::after {
    content: '\e313';
    position: absolute;
    top: 1px;
    right: 2px;
    width: 10px;
    height: 7px;
    opacity: .38;

    @include for-phone-only {
      top: 5px;
    }
  }
}