mixin choose-language()
  .choose-language-wrapper
    select.choose-language(name='language')
      option eng
      option ru
      option ukr
      option kz
      option tur
      option ch
      option jap