include ../components/widgets/header-socials/header-socials
include ../components/widgets/sign-in/sign-in
include ../components/widgets/choose-language/choose-language
include ../components/header/header
include ../components/logo/logo
include ../components/main-nav/main-nav
include ../components/widgets/header-search/header-search
include ../components/hamburger/hamburger
include ../components/mmenu/mmenu
include ../components/inspiration/inspiration
include ../components/heading/heading
include ../components/btn/btn
include ../components/user/user
include ../components/widgets/comments/comments
include ../components/sort-blog/sort-blog
include ../components/video/video
include ../components/caption/caption
include ../blocks/post/post
include ../components/image-block/image-block
include ../components/slick-carousel/slick-carousel
include ../components/search-field/search-field
include ../components/title/title
include ../components/sidebar-menu/sidebar-menu
include ../components/subscribe-form/subscribe-form
include ../components/widgets/color-socials/color-socials
include ../components/tab-post/tab-post
include ../components/sort-post-buttons/sort-post-buttons
include ../blocks/tab-post-widget/tab-post-widget
include ../components/tags/tags
include ../components/btn-more/btn-more
include ../components/widgets/pages-widget/pages-widget
include ../components/widgets/twitter-widget/twitter-widget
include ../components/widgets/flickr-widget/flickr-widget
include ../components/image-gallery/image-gallery
include ../components/big-title/big-title
include ../components/sort-blog-mob/sort-blog-mob
include ../components/delimeter/delimeter
include ../components/block-subscribe/block-subscribe
include ../components/footer/footer
include ../components/footer-nav/footer-nav
include ../blocks/block-bottom/block-bottom