include ../components/widgets/header-socials/header-socials
include ../components/widgets/sign-in/sign-in
include ../components/widgets/choose-language/choose-language
include ../components/header/header
include ../components/logo/logo
include ../components/main-nav/main-nav
include ../components/widgets/header-search/header-search
include ../components/hamburger/hamburger
include ../components/mmenu/mmenu
include ../components/inspiration/inspiration
include ../components/heading/heading
include ../components/btn/btn
include ../components/user/user
include ../components/widgets/comments/comments
include ../components/sort-blog/sort-blog
include ../components/video/video
include ../components/caption/caption
include ../blocks/post/post
include ../components/image-block/image-block
include ../components/slick-carousel/slick-carousel
include ../components/search-field/search-field
include ../components/title/title
include ../components/sidebar-menu/sidebar-menu