.search-field {

  $block-name: &; // #{$block-name}__element

  position: relative;
  max-width: 270px;

  &_theme_dark {
    max-width: 220px;
  }

  &__input {
    width: 100%;
    padding: 8px 40px 8px 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    background-color: #dfdfdf;
    border: 1px solid #fff;
    border-radius: 22px;
    opacity: .38;
    box-sizing: border-box;
    letter-spacing: .64px;
  }

  &_theme_dark &__input {
    padding: 3px 35px 3px 20px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border-color: rgba(#fff, .5);
  }

  &__btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 13px rgba(0, 0, 0, .12);
    background-color: #ff4081;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: lighten(#ff4081, 10);
    }

    &:active {
      background-color: darken(#ff4081, 10);
    }
  }

  &_theme_dark &__btn {
    top: 7px;
    right: 23px;
    width: 14px;
    height: 14px;
    background-color: transparent;
  }

  &__icon {
    font-family: 'Material Icons', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1.2px;
  }

  &_theme_dark &__icon {
    font-size: 18px;
    letter-spacing: .5px;
    color: rgba(#fff, .5);
  }
}
