@import '../../../scss/utils';

.flickr-widget-mob {

  $block-name: &; // #{$block-name}__element

  display: none;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 15px;
  margin-bottom: 33px;

  @include for-small-phone-only {
    display: grid;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
