-
  var images = [
  {
    src: '../../components/widgets/flickr-widget-mob/img/fw-mob1.jpeg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget-mob/img/fw-mob2.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget-mob/img/fw-mob3.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget-mob/img/fw-mob4.jpg',
    alt: 'flickr image'
  }

  ];