@import '../../scss/utils';

.main-page {

  &__sort-blog {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    padding-left: pxToPercent(375, 1920);
    background-color: $color-secondary;
    border-bottom: 1px solid rgba(#000, .12);

    @include for-middle-laptop-down {
      padding-left: 20px;
    }

    @include for-phone-only {
      display: none;
    }
  }

  &__sort-blog-mob {
    display: none;
    padding: 8px 0;

    @include for-phone-only {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title,
  &__tab-post-widget {
    max-width: 270px;
  }

  &__search-field {
    margin-bottom: 30px;
  }

  &__sidebar-menu {
    margin-bottom: 30px;
  }

  &__subscribe-form {
    max-width: 270px;
    margin-bottom: 5px;
  }

  &__post-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;

    &_lg {
      //grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    }
  }

  &__delimeter {
    max-width: 270px;
    margin-bottom: 20px;

    @include for-tablet-landscape-down {
      display: none;
    }
  }

  &__color-socials {
    margin-bottom: 45px;
  }

  &__tab-post-widget {
    margin-bottom: 50px;
  }
}

.block-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: #f5f5f5;
}

.block-right {
  margin-right: 40px;
  padding-left: 40px;
  padding-top: 23px;
  background-color: #fff;

  @include for-middle-laptop-down {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include for-tablet-landscape-down {
    margin-right: 0;
  }
}
