@import '../../scss/utils';

.main-page {

  &__sort-blog {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    background-color: $color-secondary;
    box-shadow: 0 1px 0 #ddd;

    @include for-phone-only {
      display: none;
    }
  }

  &__sort-blog-mob {
    display: none;
    padding: 8px 0;

    @include for-phone-only {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
