@import '../../scss/utils';

.main-page {

  &__sort-blog {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    padding-left: pxToPercent(375, 1920);
    background-color: $color-secondary;
    border-bottom: 1px solid rgba(#000, .12);

    @include for-middle-laptop-down {
      padding-left: 20px;
    }

    @include for-phone-only {
      display: none;
    }
  }

  &__sort-blog-mob {
    display: none;
    padding: 8px 0;

    @include for-phone-only {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title,
  &__tab-post-widget {
    max-width: 270px;

    @include for-phone-landscape-down {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__title {
    @include for-small-phone-only {
      max-width: unset;
    }

    &_will-be-hidden {
      @include for-small-phone-only {
        display: none;
      }
    }

    &_will-be-shown {
      display: none;

      @include for-small-phone-only {
        display: block;
      }
    }
  }

  &__search-field {
    margin-bottom: 30px;

    @include for-phone-landscape-down {
      margin-left: auto;
      margin-right: auto;
    }

    @include for-small-phone-only {
      display: none;
    }
  }

  &__sidebar-menu {
    margin-bottom: 30px;

    @include for-phone-landscape-down {
      margin-left: auto;
      margin-right: auto;
      min-width: 270px;
    }

    @include for-small-phone-only {
      min-width: unset;
    }
  }

  &__subscribe-form {
    max-width: 270px;
    margin-bottom: 5px;

    @include for-phone-landscape-down {
      margin-left: auto;
      margin-right: auto;
    }

    @include for-small-phone-only {
      display: none;
    }
  }

  &__post-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;

    &_lg {
      grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    }
  }

  &__delimeter {
    max-width: 270px;
    margin-bottom: 20px;

    @include for-tablet-landscape-down {
      display: none;
    }
  }

  &__color-socials {
    margin-bottom: 45px;

    @include for-phone-landscape-down {
      margin-right: auto;
      margin-left: auto;
      min-width: 270px;
    }

    @include for-small-phone-only {
      display: none;
    }
  }

  &__tab-post-widget {
    margin-bottom: 50px;

    @include for-small-phone-only {
      display: none;
    }
  }

  &__btn-more {
    justify-self: right;
    margin-top: 20px;
    margin-bottom: 43px;

    @include for-small-phone-only {
      display: none;
    }
  }

  &__tags {
    margin: auto;
  }

  &__tags-title {
    margin-bottom: 20px;
    max-width: 270px;

    @include for-phone-landscape-down {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image-gallery {
    @include for-phone-only {
      display: none;
    }
  }
}

.block-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: #f5f5f5;

  @include for-small-phone-only {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.block-right {
  margin-right: 40px;
  padding-left: 40px;
  padding-top: 23px;
  background-color: #fff;

  @include for-middle-laptop-down {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include for-tablet-landscape-down {
    margin-right: 0;
  }

  @include for-phone-landscape-down {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
  }

  @include for-small-phone-only {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #212121;
  }

  &__logo {
    display: none;

    @include for-small-phone-only {
      display: block;
    }
  }
}
