extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco Home

block content
  body.main-page
    #page
      include ../../blocks/top-line/top-line
      +header('1')
      .main-page__sort-blog
        +sort-blog
      .wrapper.wrapper_sort-blog-mob
        .main-page__sort-blog-mob
          +sort-blog-mob

      main.content.content_main-page
        section.block-left
          +post
            +video({
              poster: '../../components/video/img/poster-big.jpg',
              src: '../../components/video/video/nature.mp4',
              type: 'video/mp4',
              caption: 'lifestyle',
              comments: 7,
              likes: 15
            })
            - var title = '10 Things To Do To Change Your Life Forever';
            - var text = 'The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.';
            +post-content(title, text)
            +post-autor
              +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
              +post-button
        section.block-right
          .main-page__search-field
            +search-field
          .main-page__title
            +title('categories', 'color_blue,bordered')
          .main-page__sidebar-menu
            +sidebar-menu
              +sidebar-menu-list
                +sidebar-menu-item({ text: 'Photography', count: 165 })
                +sidebar-menu-item({ text: 'Illustration', count: 15 })
                +sidebar-menu-item({ text: 'Graphic Design', count: 36 })
                +sidebar-menu-item({ text: 'Web design', count: 220 })
                +sidebar-menu-item({ text: 'Videography', count: 17 })

          .main-page__title
            +title('subscribe', 'color_blue,bordered')
          .main-page__subscribe-form
            +subscribe-form
              +subscribe-form-text-field({ name: 'name', placeholder: 'Igor Ten', labelText: 'Name' })
              +subscribe-form-text-field({ name: 'email', placeholder: 'email@adress.com', labelText: 'Email' })
              +btn('subscribe', 'type_rect, theme_blue')(href='#')