extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco Home

block content
  body.main-page
    #page
      include ../../blocks/top-line/top-line
      +header('1')
      .main-page__sort-blog
        .wrapper
          +sort-blog
      .wrapper.wrapper_sort-blog-mob
        .main-page__sort-blog-mob
          +sort-blog-mob

      main.content.content_main-page
        section.block-left
          +post
            +video({
              poster: '../../components/video/img/poster-big.jpg',
              src: '../../components/video/video/nature.mp4',
              type: 'video/mp4',
              caption: 'lifestyle',
              comments: 7,
              likes: 15
            })
            - var title = '10 Things To Do To Change Your Life Forever';
            - var text = 'The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.';
            +post-content(title, text)
            +post-autor
              +user('../../components/user/img/user2.png', 'Henry Little', 'April 28, 2016   10:15', 'color_dark, float')
              +post-button
        section.block-right