extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco Home

block content
  body.main-page
    #page
      include ../../blocks/top-line/top-line
      +header('1')
      .main-page__sort-blog
        .wrapper
          +sort-blog