extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Pasco Home

block content
  body
    include ../../blocks/top-line/top-line
    +logo