@import '../../scss/utils';

.top-line {
  height: 40px;
  background-color: #191919;

  @include for-phone-only {
    height: 40px;
    background-color: #303f9f;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__socials {
    width: 219px;

    @include for-phone-only {
      display: none;
    }
  }
}