.heading {
  font-family: 'Montserrat Black', Arial, sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.1px;
}