@import '../../scss/variables';

@import '../../scss/utils';

.sort-blog {

  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__title {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: $color-primary;
    opacity: .87;
    font-variant: small-caps;
    letter-spacing: .8px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 16px;

    @include for-tablet-landscape-down {
      margin-left: 0;
    }
  }

  &__item {
    margin-left: 15px;

    @include for-tablet-landscape-down {
      margin-top: 15px;
    }

    &_active {

      #{$block-name}__button {
        color: #3f51b5;
        background-color: #fff;
        border: 1px solid #3f51b5;
      }
    }
  }

  &__item:nth-child(1) {
    margin-left: 0;
  }

  &__button {
    padding: 5px 28px 5px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $color-primary;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 15px;
    opacity: .87;
    font-variant: small-caps;
    letter-spacing: .8px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: darken(#f5f5f5, 5%);
    }

    &:active {
      background-color: darken(#f5f5f5, 10%);
    }
  }

  $block-name:                &; // #{$block-name}__element
}
