-
  const sortBlog = [
  {
    name: 'all',
    id: '1'
  },
  {
    name: 'photography',
    id: '2'
  },
  {
    name: 'lifestyle',
    id: '3'
  },
  {
    name: 'trip',
    id: '4'
  },
  {
    name: 'inspiration',
    id: '5'
  }
  ]