mixin color-socials()

  ul.color-socials
    li.color-socials__item
      a.color-socials__link.color-socials__link_facebook(href='https://facebook.com', target='blank')
        span.fab.fa-facebook-f
    li.color-socials__item
      a.color-socials__link.color-socials__link_twitter(href='https://twitter.com', target='blank')
        span.fab.fa-twitter
    li.color-socials__item
      a.color-socials__link.color-socials__link_vk(href='https://vk.ru', target='blank')
        span.fab.fa-vk
    li.color-socials__item
      a.color-socials__link.color-socials__link_pinterest(href='https://pinterest.com', target='blank')
        span.fab.fa-pinterest-p
    li.color-socials__item
      a.color-socials__link.color-socials__link_tumblr(href='https://tumblr.com', target='blank')
        span.fab.fa-tumblr
    li.color-socials__item
      a.color-socials__link.color-socials__link_dribbble(href='https://dribbble.com', target='blank')
        span.fab.fa-dribbble.top-line__socials-icon
    