@import '../../../scss/_utils.scss';

.header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 117px;
  font-family: 'Material Icons', Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 90px;
  color: #fff;
  letter-spacing: 1.2px;

  @include for-phone-landscape-down {
    width: auto;
  }

  &__hr {
    width: 1px;
    height: 30px;
    background-color: #b4b4b4;
    opacity: .38;
  }

  &__icon-search,
  &__icon-favorite,
  &__hr {
    @include for-phone-landscape-down {
      display: none;
    }
  }

  &__icon-cart {
    position: relative;

    @include for-phone-landscape-down {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &__badge {
    position: absolute;
    top: -16px;
    right: -19px;
    display: none;
    width: 24px;
    height: 24px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #ff4081;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 13px rgba(0, 0, 0, .12);

    @include for-phone-landscape-down {
      display: flex;
    }
  }

  span {
    cursor: pointer;
  }
}