mixin header-search()
  .header-search
    span.mi.mi-search.header-search__icon-search
    .header-search__hr
    span.mi.mi-favorite-border.header-search__icon-favorite
    .header-search__hr
    span.mi.mi-shopping-cart.header-search__icon-cart
      span.header-search__badge 7