mixin header-socials()
  ul.header-socials
    li.header-socials__item
      a.header-socials__link(href='https://facebook.com', target='blank')
        span.fab.fa-facebook-f.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://twitter.com', target='blank')
        span.fab.fa-twitter.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://pinterest.com', target='blank')
        span.fab.fa-pinterest-p.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://vk.ru', target='blank')
        span.fab.fa-vk.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://google.com', target='blank')
        span.fab.fa-google-plus-g.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://behance.net', target='blank')
        span.fab.fa-behance.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://dribble.com', target='blank')
        span.fab.fa-dribbble.top-line__socials-icon
    li.header-socials__item
      a.header-socials__link(href='https://instagram.com', target='blank')
        span.fab.fa-instagram.top-line__socials-icon