@import '../../scss/utils';

.tab-post {

  $block-name: &; // #{$block-name}__element

  display: flex;
  max-width: 270px;
  font-family: 'Open Sans', Arial, sans-serif;
  align-items: flex-start;

  &__img {
    margin-right: pxToPercent(14, 270);
  }

  &__content {

  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__date {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: .56px;
  }

  &__comments {
    margin-top: -8px;
  }
}
