-
  var images = [
  {
    src: '../../components/widgets/flickr-widget/img/fw1.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw2.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw3.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw4.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw5.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw6.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw7.jpg',
    alt: 'flickr image'
  },
  {
    src: '../../components/widgets/flickr-widget/img/fw8.jpg',
    alt: 'flickr image'
  },{
  src: '../../components/widgets/flickr-widget/img/fw9.jpg',
  alt: 'flickr image'
  }

  ];