mixin header(active, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header_' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)
    .page-header__overlay
      .wrapper.wrapper_flex
        .page-header__hamburger
          +hamburger
        +mmenu
        +logo
        .page-header__nav
          +main-nav(active)
        .page-header__search
          +header-search
      if (mods !== 'uikit')
        .page-header__carousel
          +slick-carousel('btn_lg')
            .page-header__content
              .page-header__inspiration
                +inspiration('inspiration')
              - var text = '5 Ways milllennials can start building their future today';
              .page-header__title
                +big-title(text)
              .page-header__button
                +btn('read more', 'type_ellipse, theme_blue')(href='#')
              .page-header__user
                +user('../../components/user/img/user1.png', 'Henry Little', 'April 28, 2016   10:15')
              .page-header__comments
                +comments('Comments (28)', 'forum')
                +comments('Likes (07)', 'favorite')

            .page-header__content
              .page-header__inspiration
                +inspiration('inspiration')
              - var text = 'Lorem ipsum dolor sit amet to consectetur  adipi scing';
              .page-header__title
                +big-title(text)
              .page-header__button
                +btn('read more', 'type_ellipse, theme_blue')(href='#')
              .page-header__user
                +user('../../components/user/img/user2.png', 'James Leman', 'May 31, 2018   9:00')
              .page-header__comments
                +comments('Comments (65)', 'forum')
                +comments('Likes (32)', 'favorite')

            .page-header__content
              .page-header__inspiration
                +inspiration('inspiration')
              - var text = '5 Ways milllennials can start building their future today';
              .page-header__title
                +big-title(text)
              .page-header__button
                +btn('read more', 'type_ellipse, theme_blue')(href='#')
              .page-header__user
                +user('../../components/user/img/user3.png', 'Benjamin Miller', 'August 8, 2010   06:05')
              .page-header__comments
                +comments('Comments (33)', 'forum')
                +comments('Likes (25)', 'favorite')

            .page-header__content
              .page-header__inspiration
                +inspiration('inspiration')
              - var text = 'Lorem ipsum dolor sit amet to consectetur  adipi scing';
              .page-header__title
                +big-title(text)
              .page-header__button
                +btn('read more', 'type_ellipse, theme_blue')(href='#')
              .page-header__user
                +user('../../components/user/img/user4.png', 'John Smith', 'April 28, 2016   10:15')
              .page-header__comments
                +comments('Comments (28)', 'forum')
                +comments('Likes (07)', 'favorite')

            .page-header__content
              .page-header__inspiration
                +inspiration('inspiration')
              - var text = '5 Ways milllennials can start building their future today';
              .page-header__title
                +big-title(text)
              .page-header__button
                +btn('read more', 'type_ellipse, theme_blue')(href='#')
              .page-header__user
                +user('../../components/user/img/user1.png', 'Henry Little', 'April 28, 2016   10:15')
              .page-header__comments
                +comments('Comments (28)', 'forum')
                +comments('Likes (07)', 'favorite')