mixin delimeter(mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' delimeter_' + modsList[i].trim();
      }
    }

  .delimeter(class=allMods)&attributes(attributes)
    span.delimeter__text or
    