@import '../../scss/utils';

.page-footer {

  $block-name: &; // #{$block-name}__element

  padding: pxToRem(50) pxToRem(20) pxToRem(77);
  background-color: #212121;

  @include for-small-phone-only {
    padding: 38px 20px;
    background-color: #303030;
  }

  &__inner {
    display: grid;
    max-width: 1170px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: pxToRem(30);
    grid-row-gap: pxToRem(60);
    justify-items: center;

    @include for-small-phone-only {
      display: none;
    }
  }

  &__inner-mob {
    display: none;

    @include for-small-phone-only {
      display: block;
    }
  }

  &__title {
    margin-bottom: pxToRem(25);

    &_margin_sm {
      margin-bottom: pxToRem(15);
    }
  }

  &__twitter-widget {
    margin-bottom: pxToRem(15);
  }
}
