mixin mmenu()
  nav#mmenu.mmenu
    ul
      li.mmenu__list-item
        span Home
        ul
          li.mmenu__list-item
            a.mmenu__link(href='uikit.html') Uikit
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management
      li.mmenu__list-item
        span Portfolio
        ul
          li.mmenu__list-item
            a.mmenu__link(href='./') Web design
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management
      li.mmenu__list-item
        span Blog
        ul
          li.mmenu__list-item
            a.mmenu__link(href='./') Web design
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management
      li.mmenu__list-item
        span Pages
        ul
          li.mmenu__list-item
            a.mmenu__link(href='./') Web design
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management
      li.mmenu__list-item
        span Shop
        ul
          li.mmenu__list-item
            a.mmenu__link(href='./') Web design
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management
      li.mmenu__list-item
        span Components
        ul
          li.mmenu__list-item
            a.mmenu__link(href='./') Web design
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management
      li.mmenu__list-item
        span Features
        ul
          li.mmenu__list-item
            a.mmenu__link(href='./') Web design
          li.mmenu__list-item
            a.mmenu__link(href='./') Wordpress design
          li.mmenu__list-item
            a.mmenu__link(href='./') Mobile App Development
          li.mmenu__list-item
            a.mmenu__link(href='./') Internet Marketing
          li.mmenu__list-item
            a.mmenu__link(href='./') Social Media Management