@import '../scss/utils';

html {
  font-size: 10px;
}

body {
  max-width: 1366px;
  min-width: 320px;
}

.wrapper {
  width: 100%;
  margin: auto;
  max-width: 1170px;
  box-sizing: border-box;

  @include for-desktop-down {
    padding-left: 20px;
    padding-right: 20px;
  }

  &_flex {
    display: flex;
    align-items: center;

    @include for-desktop-down {
      justify-content: space-between;
    }

    @include for-phone-landscape-down {
      padding-right: 35px;
    }
  }
}